<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <style>
            body{
            font-family:Arial,sans-serif;
            text-align:center;
            margin-top:50px;
            }
            h1{
            color: #2c3e50;
            }
            p{
            color:#555;
            font-size:18px;
            }
        </style>
    </head>
    <body>
        <h1>
            {{ restaurant_name }}
        </h1>
        <p>Welcome to our restaurant! We're happy to serve</p>
    </body>

</html>